.name {
    font-size: 18px;
}

.ing {
    font-family: sans-serif;
    margin-top: 10px;
}

.head {
    background-color: red;
    width: 120px;
}

.head:hover {
    background-color: black;
    color: red;
}